/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FILE MANAGER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.file-manager {

		@extend %relative;
	}


	/////////////////////////////////
	// FILE lIST
	/////////////////////////////////

	.file-manager .file-list {

		position: 		relative;
		width: 			100%;
		padding: 		5px;
		border: 		1px solid $colorGrayLightHover;

		table-layout: 		fixed;
		border-spacing: 	0 2px;
		border-radius: 		5px;
		border-collapse: 	separate;

		col:nth-child(1) { width: 35px; }
		col:nth-child(2) { width: 80%; }

		// header only visible for screen reader
		thead {
			position: 	absolute;
			clip: 		rect(1px, 1px, 1px, 1px);
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.file-manager .file-list {
			col:nth-child(2) { width: 50%; }
		}
	}
