/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FILE MANAGER BREADCRUMB
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.file-manager-breadcrumb {

		@extend %relative;

		margin-bottom: 2%;
	}


	/////////////////////////////////
	// ITEM
	/////////////////////////////////

	.file-manager-breadcrumb-item {

		@extend %relative-inline-block;

		background: 	#F8FAFC;
		padding: 		2px 6px;
		border-radius: 	5px;
		cursor: 		pointer;
		margin: 		0 2px 3px 0;
	}
