/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FILE LIST ITEM
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.file-list-buttons {

		width: 			80px;
		text-align: 	right;
		white-space: 	nowrap;
	}


	/////////////////////////////////
	// BUTTON
	/////////////////////////////////

	.file-list-btn {

		@extend %relative-inline-block;

		position: 	relative;
		width: 		26px;
		height: 	26px;
		vertical-align: middle;
	}

	@include hover() {

		.file-list-btn:hover, .file-list-btn:focus {

			svg {
				fill: $colorCtaHover;
			}
		}
	}
