/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FILE MANAGER NAVI
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.file-manager-navi {

		@extend %relative-flex;

		justify-content: 	flex-end;
		margin-bottom: 		10px;
	}


	.file-manager-navi-storage {

		display: 			flex;
		justify-content: 	flex-end;
		align-items: 		center;

		label {
			width: 		auto;
			margin: 	0 10px 0 0;
		}
	}

