/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FILE LIST ITEM
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.file-list-preview-image {

		@extend %relative;

		height: 			0;
		padding-bottom: 	56.25%;
		background: 		$colorGrayLightHover;

		img {

			@extend %absolute;

			height: 			100%;
			object-fit: 		contain;
			object-position: 	center;
		}

		.svg-icon {

			@extend %center-absolute;

			width: 		100px;
			height: 	100px;
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.file-list-preview-image {

			margin-bottom: var(--layoutUnit);
		}
	}
