/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SIMULATION PROCESS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.simulation-process {

		@extend %relative;

		padding: 		26px;
		border-radius: 	24px;
		margin-bottom: 	2%;
		box-shadow: 	0px 0px 15px rgba(0,0,0,0.07);

		p:not(.small) { font-weight: bold;}
		p.small { min-height: 60px; }

		.form-row-buttons {

			margin: 0 !important;
			text-align: right !important;
			.btn { margin: 8px 0 0 10px !important; }
		}
	}
