/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SIMULATION RESULT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.simulation-result {

		@extend %relative-flex;

		margin: 0 0 4% 0;

		p:not(.small) {
			font-weight: bold;
			margin-bottom: 2px;
		}

		.status-successful { color: $colorPsGreen;}
		.status-error, .status-failed { color: $colorError;}
		.status-running { color: $colorPsBlueDark;}
	}
