/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LAYOUT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	footer {

		@extend %relative;

		margin: 		calc(var(--layoutUnit) * 2) 0 0 0;
		padding: 		5px var(--pagePadding);
		background: 	#FAFBFC;
	}


	/////////////////////////////////
	// STICKY FOOTER
	/////////////////////////////////

	#app {

		min-height: 		$vh100;
		display: 			flex;
		flex-direction: 	column;
		justify-content: 	space-between;
	}

	.page {	flex-grow: 2; }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

	}



