/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	NAVI ITEMS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.footer-navi-item {

		@extend %relative;

		width: 			auto;
		margin: 		0 3px;
		padding: 		10px 10px;
		transition:		color 0.2s ease;

		// typo
		font: 			normal 12px/12px var(--fontFamily);
		cursor: 		pointer;
		white-space:	nowrap;
		color: 			$colorCopy;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	@include hover() {

		.footer-navi-item:hover, .footer-navi-item:focus {

			color: $colorCtaHover;
		}
	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.footer-navi-item.active {

		color: $colorActive;
	}


	/////////////////////////////////
	// ACCESSIBILITY
	/////////////////////////////////

	.footer-navi-item:focus-visible {

		color: $colorFocus;
		outline: 2px solid $colorFocus;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

	}
