/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	USER IMAGE UPLOAD
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.user-image-upload {

		display: 		flex;
		align-items: 	center;
		flex-wrap: 		wrap;

		.user-image { margin-right: 20px; }
		.btn { margin: 5px 0; }
	}


	.user-image-upload-buttons {

		@extend %relative;
		width: auto;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CROPPER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.cropper-upload {

		@extend %relative;

		overflow: 		hidden;
		height: 		50vh;
		max-height: 	450px;
	}


	.cropper-preview {

		@extend %absolute;

		top: 			50%;
		left: 			50%;
		transform: 		translate(-50%,-50%);
	}


	.cropper-border {

		@extend %absolute;

		display: 		none;
		top: 			50%;
		left: 			50%;
		transform: 		translate(-50%,-50%);
		border-radius: 	50%;
		border: 		2px solid #fff;
		box-shadow: 	-2px 0px 300px 40px rgba(0,0,0,0.7);
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.user-image-upload {

			.user-image { width: 60px; height: 60px; }
		}

	}
