/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	USER SUBSCRIPTION
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.user-subscription {

		@extend %relative;

		p + h4 { margin-top: var(--layoutUnit); }
	}

	/////////////////////////////////
	// INFO
	/////////////////////////////////

	.user-subscription-ending {
		color: var(--inputColorError);
	}


	/////////////////////////////////
	// LOADING
	/////////////////////////////////

	.user-subscription-loading {

		@extend %relative;
		padding-bottom: 25%;
	}
