/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	USER IMAGE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.user-image {

		@extend %relative;

		border-radius: 		50%;
		overflow: 			hidden;
		max-width: 			100px;

		img {
			@extend %relative;;
			object-position: center center;
			object-fit: 	cover;
		}
	}
