/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONTENT FILTER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.lazy-picture {

		@extend %relative;

		img {
			width: 100%;
			height: auto;
		}
	}


	/////////////////////////////////
	// PRELOADER
	/////////////////////////////////

	.lazy-picture-preloader {

		@extend %absolute;
		@extend %center-absolute;

		width: 30px;
		height: 30px;
	}


	.lazy-picture img.loaded + .lazy-picture-preloader {

		display: none;
	}
