/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LOADING SPINNER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.loading-spinner {

		@extend %absolute;
		@extend %center-absolute;

		width: 			50%;
		height: 		50%;
		max-width: 		30px;
		max-height: 	30px;

		stroke: var(--colorCopy);
	}


