/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	// next/prev button
	$buttonSize: 		40px;
	$buttonPadding: 	2%;

	// pagination
	$bulletSize:		16px;
	$bulletPadding: 	8px;

	// colors
	$colorNav: 			var(--btnBackground);
	$colorNavHover:		var(--btnBackgroundHover);
	$colorNavActive: 	var(--btnBackgroundActive);



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SLIDER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.slider.swiper {

		@extend %relative;

		margin: 0 0 1rem 0;
		padding-bottom: $bulletSize + $bulletPadding * 2;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SLIDER NAV
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.slider-button {

		@extend %absolute;
		@extend %clear-button;

		width: 			$buttonSize;
		height: 		$buttonSize;
		top: 			calc(50% - #{$bulletSize * 0.5} - $bulletPadding);
		left: 			$buttonPadding;;
		background: 	var(--btnColor);
		border-radius: 	50%;
		transform: 		translate3d(0,-50%, 1px) rotate(180deg);
		outline: 		0;
		z-index: 		2;
		cursor: 		pointer;
		transition:  	all 0.3s ease;

		svg {
			fill: var(--btnBackground);
		}
	}


	.slider-button.next {

		left: 		auto;
		right: 		$buttonPadding;
		transform:  translate3d(0,-50%, 1px);
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	@include hover() {

		.slider-button:hover {

			background: var(--btnColorHover);

			svg {
				fill: var(--btnBackgroundHover);
			}
		}
	}


	.slider-button:focus-visible {

		background: var(--colorLinkFocus);
		svg { fill: #fff; }
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	PAGINATION
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.slider .swiper-pagination {

		--swiper-pagination-bottom: #{$bulletPadding};

		height: 	$bulletSize;
	}


	.slider .swiper-pagination-bullet {

		--swiper-pagination-bullet-horizontal-gap: 4px;

		width: 			$bulletSize;
		height: 		$bulletSize;
		background: 	$colorNav;
		transition:  	all 0.3s ease;
		opacity: 		1;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	@include hover() {

		.slider .swiper-pagination-bullet:hover {

			background: $colorNavHover;
		}
	}


	.slider .swiper-pagination-bullet:focus-visible {

		outline: 2px solid var(--colorLinkFocus);
		outline-offset: 2px;
	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.slider .swiper-pagination-bullet-active {

		background: $colorNavActive;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.slider-button {
			width: 		calc($buttonSize * 0.7);
			height: 	calc($buttonSize * 0.7);
		}
	}
