/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FONTS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include font-face("OpenSans", $public+"fonts/opensans/OpenSans-Regular", normal, normal);
	@include font-face("OpenSans", $public+"fonts/opensans/OpenSans-SemiBold", bold, normal);
	@include font-face("OpenSans Light", $public+"fonts/opensans/OpenSans-Light", normal, normal);

	@include font-face("NeuePlak", $public+"fonts/neueplak/NeuePlak-Regular", normal, normal);
	@include font-face("NeuePlak", $public+"fonts/neueplak/NeuePlak-Bold", bold, normal);
	@include font-face("NeuePlak", $public+"fonts/neueplak/NeuePlak-Black", 900, normal);



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADLINES
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	h1 {

		margin: 0 0 3rem 0;
		color: 	$colorH1;
	}


	h2 {

		margin: 4rem 0 2rem 0;
		color: 	$colorH2;
	}


	h3 {

		margin: 3rem 0 1rem 0;
		color: 	$colorH3;
	}


	h4 {

		margin: 1.5rem 0 0.75rem 0;
		color: 	$colorH4;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	COPY
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	p, table, textarea, ul, ol {

		margin: 0 0 1rem 0;
		color: 	$colorCopy;
	}


	li, input, .input-select select {

		color: $colorCopy;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	TEXTLINK
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	p > a, li > a, .textlink {

		color: $colorLink;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	@include hover() {

		p > a:hover, li > a:hover, .textlink:hover {

			color: $colorLinkHover;
		}
	}

	p > a:focus-visible, li > a:focus-visible, .textlink:focus-visible {

		color: $colorFocus;
		outline: 2px solid $colorFocus;
	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	p > a.active, li > a.active, .textlink.active {

		color: 	$colorLinkActive;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

	}
