/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FRAGMENT ACCORDION
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.fragment-accordion {

		margin-bottom: 10px;

		h4 { margin: 0; }
	}


	.fragment-accordion + .fragment:not(.fragment-accordion) {

		margin-top: calc(var(--layoutUnit) * 2);
	}

