/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FRAGMENT TEXT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.fragment-text,
	.fragment-text-image {

		.col-50.left { order: -1; }
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

	@include breakpoint('mobile') {

		.fragment-text,
		.fragment-text-image {
			.col-50.left { margin-bottom: var(--layoutUnit); }
			.col-50.right { margin-top: var(--layoutUnit); }
		}
	}
