/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FRAGMENTS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.fragment {

		@extend %relative;

		margin: 0 auto var(--layoutUnit) auto;
	}


	.fragment:last-child { margin-bottom: 0; }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	OEMBED
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	figure.media {

		@extend %relative;

		iframe { border: 0; }
	}


	/////////////////////////////////
	// SPOTIFY
	/////////////////////////////////

	figure.media div[data-oembed-url*="spotify"] {

		@extend %relative;

		width: 100%;
		max-width: 380px;
		height: 80px;
		margin-bottom: 2%;

		iframe { border-radius: 10px;}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.fragment {

			margin: 0 auto calc(var(--layoutUnit) * 3) auto;
		}
	}
