/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FRAGMENT TEXT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.fragment-separator {

		@extend %relative;

		height: 		2px;
		background: 	$colorGrayLightHover;
		margin: 		var(--layoutUnit) 0 calc(var(--layoutUnit) * 1) 0;
	}

	.fragment-separator:last-child { display: none; }
