/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONTENT FILTER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.product-teaser {

		@extend %relative-flex;

		margin-bottom: var(--layoutUnit);
	}


	/////////////////////////////////
	// PRICE
	/////////////////////////////////

	.product-teaser-price {

		font: 		bold 1.3rem/1.3rem $fontFamily;
		margin: 	20px 0 30px 0;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.product-teaser {

			.col-50:first-child { margin-bottom: 5%; }
		}
	}

