/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SECTION
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.form-section {

		@include box-shadow('small');

		padding: 		max(calc( var(--layoutUnit) * 0.5), 15px);
		margin-bottom: 	var(--layoutUnit);
		border: 		1px solid #ececee;
		border-radius: 	20px;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FORM ROW
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.form-row, .form-row-buttons {

		@extend %relative;

		margin-bottom: 1.2rem;
	}


	.form-row-buttons {

		text-align: right;
		margin-top: var(--layoutUnit);

		.btn { margin: 0 0 15px 20px };
		.btn:last-child { margin-right: 0; }
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LABEL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	label, .form-label {

		@extend %relative;
		@extend %no-select;

		margin-bottom: 	0.2rem;
		padding-left: 	4px;
		font-weight: 	bold;
	}


	/////////////////////////////////
	// INFO
	/////////////////////////////////

	.form-label-info {

		display: 		inline-block;
		margin-left: 	3px;
		font-size: 		80%;
		line-height: 	80%;
		font-weight: 	normal;
	}


	/////////////////////////////////
	// MAXLENGTH
	/////////////////////////////////

	.input-maxlength {

		width:  	auto;
		position: 	absolute;
		right: 		0;
		padding: 	0 3px 0.3rem 0;
		color: 		var(--fontColor);
		font: 		normal 11px/11px var(--fontFamily);
		transform: 	translate(0,-100%);
		opacity: 	0.5;
	}


	/////////////////////////////////
	// MULTILANG
	/////////////////////////////////

	.form-label-lang {

		@extend %relative-inline-block;

		width: 			17px;
		height: 		12px;
		margin-right: 	3px;
		transform: 		translateY(1px);
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	DEFAULT INPUT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	input, .input, textarea, .input-radio, .input-checkbox, .input-select {

		@extend %relative;

		height: var(--inputHeight);

		border: 1px solid;
		border-radius: var(--inputBorderRadius);

		-webkit-appearance: none;
		-moz-appearance: 	none;
		appearance: 		none;
	}


	/////////////////////////////////
	// DISABLED INPUT
	/////////////////////////////////

	input.disabled, textarea.disabled, .input.disabled, .input-select.disabled {

		@extend %no-select;

		font-style: 	italic;
		opacity:  		0.5;
		cursor: 		default;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	TEXT / TEXTAREA
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	input, textarea, .input, .input-select  {

		color: 			var(--inputColor);
		background: 	var(--inputBackground);
		border: 		var(--inputBorder);
		padding: 		0 0.7rem;
	}


	textarea {
		height: calc(var(--inputHeight) * 2);
		padding-top: 0.5rem;
	}


	/////////////////////////////////
	// FOCUS
	/////////////////////////////////

	input:focus, textarea:focus, .input.focus, .input-select:focus {

		color: 			var(--inputColorFocus);
		background: 	var(--inputBackgroundFocus);
		border: 		var(--inputBorderFocus);
		outline: 		none;
	}


	/////////////////////////////////
	// READONLY
	/////////////////////////////////

	input:read-only, textarea:read-only {

		background: 	var(--inputBackground);
		border-color: 	transparent;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	ERRORS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// MESSAGES
	/////////////////////////////////

	.form-errors {

		@extend %relative;
	}


	label.error, p.error {

		color: var(--inputColorError);
	}


	/////////////////////////////////
	// INPUT
	/////////////////////////////////

	input.error, textarea.error, .input.error, .input-select.error {

		background: var(--inputBackgroundError);
		border: 	var(--inputBorderError);
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.form-row, .form-row-buttons { margin-bottom: 1rem; }

		.form-row-buttons {

			margin-top: calc(var(--layoutUnit) * 2);

			.btn {
				margin: 0 0 10px 10px;
			}
		}
	}

