/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INPUT FRAGMENTS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// EMPTY
	/////////////////////////////////

	.input-fragments-empty {

		text-align: 	center;
		height: 		auto;
		min-height: 	var(--inputHeight);
		padding-top: 	9px;
		padding-bottom: 9px;
	}
