/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	DATA LIST
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	td.data-list-buttons {

		width: 			120px;
		text-align: 	right;
		padding-right: 	0;
		text-overflow: 	unset;
	}


	/////////////////////////////////
	// BUTTON
	/////////////////////////////////

	.data-list-btn {

		@extend %relative-inline-block;

		width: 			30px;
		height: 		30px;
		border: 		0;
		vertical-align: middle;

		// disable html button style
		background: 	transparent;
		appearance: 	none;
		outline: 		0;
		cursor: 		pointer;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	@include hover() {

		.data-list-btn:not(.exclude):hover, .data-list-btn:not(.exclude):focus {

			svg {
				fill: $colorCtaHover;
			}
		}
	}


	/////////////////////////////////
	// EXCLUDE
	/////////////////////////////////

	.data-list-btn.exclude {

		cursor: default;
	}





