/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	DATA LIST PAGINATOR
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.data-list-paginator {

		@extend %relative-flex;

		justify-content: 	center;
		flex-wrap: 			wrap;
		padding: 			0 5px;
	}


	.data-list-paginator-item {

		@extend %relative;

		width: 			auto;
		min-width: 		20px;
		text-align: 	center;
		margin: 		0 2px;
		padding: 		5px;
		font: 			var(--fontCopy);
		cursor: 		default;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	@include hover() {

		.data-list-paginator-item:hover:not(.last, .first) {

			color: 	$colorCtaHover;
			cursor: pointer;
		}
	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.data-list-paginator-item.active {

		font-weight: bold;
		color: $colorActive;
	}

