/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	DATA LIST NAVI
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.data-list-navi {

		@extend %relative-flex;

		justify-content: 	flex-end;
		margin-bottom: 		10px;
	}


	/////////////////////////////////
	// SEARCH
	/////////////////////////////////

	.data-list-navi-search {

		@extend %relative;

		height: 	36px;
		width: 		30%;
		min-width: 	150px;
		max-width: 	220px;
		background-color: transparent;
		border-color: $colorGrayLightHover;

		input {
			width: 100%;
			background: transparent !important;
			padding-right: 40px;
		}

		.svg-icon {
			width: 30px;
			left: auto;
			right: 5px;
			fill: $colorGray;
		}
	}


