/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADER COMPONENT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	header {

		@extend %fixed-flex;

		height: 			var(--headerHeight);
		margin: 			0;
		padding: 			0 var(--pagePadding);
		z-index: 			10000;
		justify-content: 	flex-end;
		align-items: 		center;
		background: 		var(--headerBackground);
	}


	/////////////////////////////////
	// LOGO
	/////////////////////////////////

	.header-logo {

		@extend %absolute-flex;

		width: 		180px;
		height: 	100%;
		left: 		var(--pagePadding);
		align-items: center;
	}

	.header-logo-title {

		@extend %relative;;

		height: 50px;
		font-weight: bold;
		font-size: 25px;
		line-height: 45px;
		transform: translate(37px,0);
		white-space: nowrap;
		color: $colorPsBlue;
		background: #fff;
		margin: 0;
	}


	.header-logo:focus-visible {

		outline: 2px solid $colorFocus;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		header { position: fixed; }
		#app { padding-top: calc(var(--headerHeight) + var(--layoutUnit)); }
	}
