/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	PAGE ERROR
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	#page-error .content.webcontext-app {

		@extend %absolute;
		@extend %center-absolute;

		top: 			45%;
		text-align: 	center;
	}


	#page-error .content.webcontext-backend {

		padding-top: 	25vh;
		text-align: 	center;
	}


