/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LAYOUT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	header {
		@extend %devbox;
		--color: rgba(95, 92, 250, 0.5);
		&::after { content: "header";}
	}

	.page {
		@extend %devbox;
		--color: rgba(97, 250, 92, 0.5);
		&::after { content: ".page";}
	}

	.content {
		@extend %devbox;
		--color: rgba(250, 200, 92, 0.5);
		&::after { content: ".content";}
	}

	footer {
		@extend %devbox;
		--color: rgba(242, 122, 24, 0.5);
		&::after { content: "footer";}
	}


	.dev 				{ @extend %dev; }
	.wip 				{ @extend %wip; }
