/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	VUE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// VUE DIRECTIVES
	/////////////////////////////////

	.fade-anim {

		transition-property: 	opacity;
   		transition-duration: 	0.5s;
	}


	/////////////////////////////////
	// VUE COMPOSABLES
	/////////////////////////////////

	.prevent-scrolling {

		height: 	calc(var(--vhMin) + 1px);
		overflow: 	hidden;
		padding-right: var(--scrollbarWidth);

		.header-navi {
			padding-right: var(--scrollbarWidth);
		}
	}
