/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	GLOBAL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	* {

		-webkit-font-smoothing: 	antialiased;
		-moz-osx-font-smoothing: 	grayscale;
	}


	html {

		font-size: 		var(--fontRootSize);
		line-height: 	var(--fontRootSize);
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADLINES
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	h1, h2, h3, h4 {

		@extend %relative;

		&:first-child { margin-top: 0; }
	}


	h1 { font: var(--fontH1); }
	h2 { font: var(--fontH2); }
	h3 { font: var(--fontH3); }
	h4 { font: var(--fontH4); }


	h1, h2 { text-wrap: balance; }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	COPY
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	p, label, input, textarea, .input-select select, ul, ol {

		@extend %relative;

		font: var(--fontCopy);
	}

	li, td { font: var(--fontCopy); }
	p.small, span.small, td.small, th { font: var(--fontCopySmall); }


	/////////////////////////////////
	// BREAKS
	/////////////////////////////////

	br.only-mobile { display: none; }


	@include breakpoint('tablet') {

		br.only-desktop { display: none; }
	}


	@include breakpoint('mobile') {

		br.only-mobile 	{ display: inline-block; }
		br.not-mobile 	{ display: none; }
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	TEXTLINK
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	p > a, li > a, .textlink {

		font-size: 			inherit;
		line-height: 		inherit;
		text-decoration: 	underline;
		cursor: 			pointer;

		transition-property: 		color, text-decoration;
		transition-duration: 		0.15s;
		transition-timing-function: ease;
	}


	*:not(p) > .textlink {

		font: var(--fontCopy);
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		h1, h2, h3, h4 { @include hyphens; }
		p {	@include hyphens; }
	}
