/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FONTS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include font-face("Inter", $public+"fonts/inter/Inter-Regular", normal, normal);
	@include font-face("Inter", $public+"fonts/inter/Inter-Bold", bold, normal);
	@include font-face("Inter", $public+"fonts/inter/Inter-SemiBold", 600, normal);



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADLINES
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	h1 {

		margin: 0 0 3rem 0;
		color: 	$colorH1;
	}


	h2 {

		margin: 4rem 0 2rem 0;
		color: 	$colorH2;
	}


	h3 {

		margin: 3rem 0 1rem 0;
		color: 	$colorH3;
	}


	h4 {

		margin: 1.5rem 0 0.75rem 0;
		color: 	$colorH4;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	COPY
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	p, table, textarea, ul, ol {

		margin: 0 0 1rem 0;
		color: 	$colorCopy;
	}


	li, input, .input-select select {

		color: $colorCopy;
	}


	p.empty {

		height: 		48px;
		text-align: 	center;
		padding: 		22px 0;
		margin: 		0;
		opacity: 		0.5;
	}




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	TEXTLINK
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	p > a, li > a, .textlink {

		color: $colorLink;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	@include hover() {

		p > a:hover, li > a:hover, .textlink:hover {

			color: $colorLinkHover;
		}
	}

	p > a:focus-visible, li > a:focus-visible, .textlink:focus-visible {

		color: $colorFocus;
		outline: 2px solid $colorFocus;
	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	p > a.active, li > a.active, .textlink.active {

		color: 	$colorLinkActive;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		h1 { margin: 0 0 2.5rem 0; }
		h2 { margin: 4rem 0 1.2rem 0; }
		h3 { margin: 3rem 0 0.75rem 0; }
		h4 { margin: 1.5rem 0 0.6rem 0; }
	}
