/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LAYOUT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	body {

		background: $colorBackground;
	}


	/////////////////////////////////
	// PAGE
	/////////////////////////////////

	.page {

		@extend %relative;
		padding-top: var(--headerHeight);
		padding-bottom: var(--layoutUnit);
	}



	/////////////////////////////////
	// SECTION
	/////////////////////////////////

	section {

	}


	/////////////////////////////////
	// CONTENT
	/////////////////////////////////

	.content {

		width: calc(100% - var(--projectNaviWidth) - var(--contentPadding));
		margin-left: var(--projectNaviWidth);
	}

	#page-login .content.auth { margin-left: 0; }
	.popup { max-width: 600px; }


	/////////////////////////////////
	// TABLE
	/////////////////////////////////

	table {

		border-collapse: collapse;
		border-spacing: 0;

		tr { border-bottom: 1px solid $colorGray; }
		tr:first-child { border-top: 1px solid $colorGray; }

		td {
			padding: 10px;
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	COLS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.col-100	{ @extend %relative; width: 100%; }
	.col-50		{ @extend %relative; width: 48.53%; }
	.col-33, .col-33-67	{ @extend %relative; width: 31.58%; }
	.col-67		{ @extend %relative; width: 65.75%; }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('tablet_portrait') {

		.col-33 { width: 48.53%; }
		.col-33-67 { width: 40.06%; }
		.col-67 { width: 57.24%; }
	}


	@include breakpoint('mobile') {

		.cols { flex-wrap: wrap; }
		.col-50	{ width: 100%; }
		.col-33, .col-33-67	{ width: 100%; }
		.col-67	{ width: 100%; }
	}

