/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	USER SUBSCRIPTION
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.stripe-invoice {

		@extend %relative-flex;
	}


	/////////////////////////////////
	// DATE
	/////////////////////////////////

	.stripe-invoice-date {
		width: auto;
		margin: 0 10px 0 0;
	}


	/////////////////////////////////
	// PRICE
	/////////////////////////////////

	.stripe-invoice-price {

		font-weight: 	bold;
		margin: 		0 10px 0 0;

		span {
			display: inline-block;
			margin-left: 5px;
		}

		.invoice-paid { color: green;  }
		.invoice-unpaid { color: var(--inputColorError);  }
	}


	/////////////////////////////////
	// DOWNLOAD
	/////////////////////////////////

	.stripe-invoice-download {
		white-space: nowrap;
	}
