/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	DASHBOARD
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.dashboard-analytics-container {

		@extend %relative;

		height: 200px;
		canvas { @extend %relative; }
	}


	/////////////////////////////////
	// RANGE
	/////////////////////////////////

	.dashboard-analytics-range {

		@extend %absolute-flex;

		left: 	auto;
		top: 	22px;
		right: 	clamp(20px, 5%, 40px);
		width: 	auto;

		button {

			@extend %clear-button;

			cursor: 	pointer;
			margin: 	0 0 0 8px;
			white-space: nowrap;
		}

		button:focus-visible { outline: 2px solid $colorFocus; }
		button.active { color: $colorActive; }
	}


	/////////////////////////////////
	// EMPTY
	/////////////////////////////////

	.dashboard-analytics-empty {

		@extend %absolute;
		@extend %center-absolute;

		text-align: 	center;
		opacity: 		0.5;
		font-style: 	italic;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	DASHBOARD
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.dashboard-analytics { padding-top: 40px; }
		.dashboard-analytics-range { top: 14px; }
	}
