/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CTA
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.cta {

		background: 	$colorPsGreen;
		color: 			#fff;

		.svg-icon { fill: #fff }
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	@include hover() {

		.btn.cta:not(.disabled):hover {

			background: $colorPsBlue;
		}
	}

	.btn.cta:not(.disabled):focus-visible {

		background: var(--btnBackground);
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	BUTTON
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn {
		font-weight: 600 !important;
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	ICON
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.icon-label:not(.blocking)  {

		padding: var(--btnPadding);

		.svg-icon, &.small .svg-icon {
			width: 	25px;
			height: 20px;
			padding-right: 5px;
			left: auto !important;
			display: inline-block;
			position: relative;
			vertical-align: middle;
			transform: translate(0, -1px);
		}
	}


	.btn.small.icon-label {

		padding: var(--btnPadding);
		.svg-icon { transform: translate(0, -2px); }
	}


	.btn.btn-download .svg-icon {

		width: 22px;
		padding-right: 2px;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	DISABLED
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.disabled {

		opacity: 	1;
		background: $colorPsGray !important;
	}

