/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	VISUALIZER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// MAP
	/////////////////////////////////

	[id*="visualizer-map"], [id*="two-d-visualizer-map"] {

		@extend %relative;;

		top: var(--headerHeight);
		height: calc($vh100 - var(--headerHeight) - 80px);
		border-radius: 20px;
		overflow: hidden;
	}

	.cesium-credit-logoContainer { display: none !important; }
	.cesium-credit-textContainer { display: none !important; }


	/////////////////////////////////
	// FULLSCREEN
	/////////////////////////////////

	#app.fullscreen {

		header { display: none; }

		[id*="visualizer-map"], [id*="two-d-visualizer-map"] {
			top: 0;
			height: $vh100;
		}
	}


