/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	VISUALIZER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// MAP
	/////////////////////////////////

	#visualizer-map {

		@extend %relative;;

		top: var(--headerHeight);
		height: calc($vh100 - var(--headerHeight) - 80px);
		border-radius: 20px;
		overflow: hidden;
	}

	.cesium-credit-logoContainer { display: none !important; }
	.cesium-credit-textContainer { display: none !important; }


	/////////////////////////////////
	// FULLSCREEN
	/////////////////////////////////

	#app.fullscreen {

		header { display: none; }

		#visualizer-map {
			top: 0;
			height: $vh100;
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	VISUALIZER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.visualizer-navi {

		@extend %fixed-flex;

		top: 				auto;
		bottom: 			0;
		z-index: 			2;
		padding: 			0 var(--pagePadding);
		height: 			80px;
		background: 		#fff;
		justify-content: 	space-between;
		align-items: 		center;

		.btn {
			padding: 0 20px !important;
			margin: 0 0 0 10px;
		}

		.btn.icon {
			min-width: 26px;
			width: 36px;
			height: 36px;
			box-shadow: none !important;
			.svg-icon { fill: $colorPsGreen; }
		}

		.btn.icon.disconnected .svg-icon { fill: #FA3437; }
	}

	.visualizer-navi-title {

		width: auto;
		font-weight: bold;
		margin: 0;
	}
