/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SECTION
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.form-section {

		box-shadow: 0px 0px 15px rgba(0,0,0,0.07);
		border: 0;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LABEL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	label, .form-label {

		color: $colorPsGray;
		padding-left: 21px;
		font-weight: 600;
	}


	/////////////////////////////////
	// MAXLENGTH
	/////////////////////////////////

	.input-maxlength {

		right: 		10px;
		opacity: 	0.3;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INPUT TEXT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	input, textarea, .input, .input-select {

		padding: 0 22px;
		font-weight: 600;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INPUT SELECT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.input-select {

		select, p { font-weight: 600; }
		.svg-icon { width: 60px; }
		.input-select-option .svg-icon { width: 12px; }

		--iconColor: #{$colorPsBlue};
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INPUT FILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.input-file-image {

		border-radius: 5px;
	}
