/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	PROJECT MAPPING
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.project-mapping-placeholder {

		@extend %relative;
		height: 0;
		padding-bottom: 30%;
		background: #f0f0f0;
		border-radius: var(--btnRadius);
	}
