/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	PROJECT INFO
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.project-info-slug {

		input { text-transform: uppercase; }
	}

	.project-info-image {

		@extend %relative;

		height: 0;
		padding-bottom: 30%;
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: var(--layoutUnit);

		img {
			@extend %absolute;
			height: 100%;
			object-fit: cover;
		}
	}

	.project-info-created {

		margin-top: 30px;
		color: $colorPsGray;
	}


