/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	PROJECT PAPER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.project-paper {

	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MAP
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.project-paper-map {

		@extend %relative;

		height: 0;
		padding-bottom: min(70%, calc(100vh - var(--headerHeight) - 150px));
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: 10px;

		.ol-attribution {display: none;}
	}


	.project-paper-map #map {

		@extend %absolute;

		height: 100%;
	}


	/////////////////////////////////
	// NOTE
	/////////////////////////////////

	.project-paper-note {

		margin-bottom: var(--layoutUnit);
		color: $colorPsGray;

		span {
			display: inline-block;
			background: rgb(202, 202, 202);
			padding: 2px 5px;
			border-radius: 5px;
			color: #fff;
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

	}



