/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	VIDEO PLAYER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.video-player {

		@extend %relative;

		--video-border: 0;
		--video-border-radius: 0;

		// prevent black bars if video is not exactly 16:9
		media-player { aspect-ratio: inherit; }
	}


	/////////////////////////////////
	// CAPTIONS
	/////////////////////////////////

	.video-player .vds-captions {

		--cue-font-size: var(--fontRootSize);
		[data-part='cue'] { padding: 12px 15px 10px 15px; }
	}


	/////////////////////////////////
	// BACKGROUND
	/////////////////////////////////

	.video-player.background {

		@extend %absolute;
		@extend %center-absolute;
	}

	.video-player-background-container {

		overflow: hidden;
	}

