/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INPUT USERUPLOAD
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.input-userupload {

	}


	/////////////////////////////////
	// LOADING
	/////////////////////////////////

	.input-userupload-loading {

		width: 	50%;
		left: 	25%;

		circle { stroke: $colorGray; }
		path { stroke: $colorCta; }
	}


	/////////////////////////////////
	// ERROR
	/////////////////////////////////

	.input-userupload .input-file-label.error {

		opacity: 1;
	}
