/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	PAGE PROJECT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.project-edit-tab {

		@extend %relative;

		display: none;
		opacity: 0;

		.cols {
			max-width: 620px;
		}

		.form-row-buttons {

			margin-top: 30px;
			text-align: left;

			.btn {
				margin-left: 0;
				margin-right: 30px;
			}
		}
	}
