/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	COOKIE CONSENT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.cookie-consent {

		max-width: 500px;

		h2 {
			font: var(--fontH3);
			margin-bottom: 10px;
		}
	}


	/////////////////////////////////
	// SIMPLE
	/////////////////////////////////

	.cookie-consent.simple {

		right: 		calc(var(--pagePadding) * 0.5);
		left: 		auto;
		top: 		auto;
		bottom: 	calc(var(--pagePadding) * 0.7);
		transform: 	none;
		padding: 	max(var(--layoutUnit) * 0.25, 15px);
		width: 		calc(100% - var(--pagePadding));
		max-width: 	700px;

		.popup-content { min-height: 0; }
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	COOKIE CONSENT CATEGORY
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.cookie-consent-category {

		h3 {
			font: var(--fontH4);
			margin-bottom: 5px;
		}
	}

	.cookie-consent .input-checkbox { margin-bottom: 5%; }
	.cookie-consent-category.essential { opacity: 0.7; }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.cookie-consent .popup-footer .btn {

			margin: 10px auto;
			display: block;
			min-width: 200px;
		}
	}
