/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MODEL EDIT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.model-edit {

		@extend %relative;
	}


	.model-edit-name {

		margin-top: 	0%;
		margin-bottom: 	var(--layoutUnit);
	}


	.model-edit label {

		white-space: 	nowrap;
		overflow: 		hidden;
		text-overflow: 	ellipsis;
	}


	/////////////////////////////////
	// LOADING
	/////////////////////////////////

	.model-edit-loading {

		height: 409px; 		// try same heigh as first model accordion

		.svg-inline {
			@extend %center-absolute;
			width: 30px;
			height: 30px;
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	NAVI
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.model-edit-navi {

		@extend %relative-flex;

		position: 			sticky;
		top: 				calc(var(--headerHeight) - 1px);
		padding: 			15px 0;
		margin-top: 		calc(var(--layoutUnit) * -0.75);
		margin-bottom: 		calc(var(--layoutUnit) * 0.50);
		justify-content: 	flex-end;
		z-index: 			9999;					// one below header
		background-color: 	#fff;
		outline: 			2px solid #fff;		// prevent flickering on scroll
		box-shadow: 		0 15px 15px #fff;

		& > * { margin-bottom: 0; }
	}


	.model-edit-navi-lang {

		display: 			flex;
		justify-content: 	flex-end;
		align-items: 		center;

		label {
			width: 		auto;
			margin: 	0 10px 0 0;
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		.model-edit-loading { height: 306px; }
	}
