/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	PAGE ERROR
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.lightbox {

		@extend %fixed;

		height: 			$vh100;
		background: 		rgba(250, 250, 255, 0.2);
		z-index: 			19999;							// 1 less than the popup
		backdrop-filter: 	blur(2px);
	}

