/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	POPUP ERROR
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.popup-error {

		@extend %fixed;
		@include box-shadow('small');

		background: 	#f42626;
		z-index: 		999999; 		// above all
		cursor: 		pointer;

		p {
			color: 		#fff;
			padding: 	10px 60px;
			text-align: center;
		}

	}


	.svg-icon.popup-error-close {

		width: 		30px;
		height: 	30px;
		top: 		50%;
		left: 		auto;
		right: 		20px;
		transform: 	translateY(-50%);
		fill: 		#fff;
	}


