/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADER COMPONENT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	header {

		@extend %fixed-flex;

		height: 			var(--headerHeight);
		margin: 			0 0 var(--layoutUnit) 0;
		padding: 			0 var(--pagePadding);
		z-index: 			10000;
		justify-content: 	flex-end;
		align-items: 		center;
		background: 		var(--headerBackground);
		box-shadow: 		0 1px 0 0 rgb(232, 237, 239); 	// border bottom with box-shadow
	}


	/////////////////////////////////
	// LOGO
	/////////////////////////////////

	.header-logo {

		@extend %absolute;

		width: 		var(--headerHeight);
		height: 	100%;
		left: 		10px;
	}


	.header-logo:focus-visible {

		outline: 2px solid $colorFocus;
		outline-offset: -2px;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('mobile') {

		#app { padding-top: calc(var(--headerHeight) + var(--layoutUnit)); }
	}
